.sudoku-columns {
  display: grid;
  grid-template-columns: 70% 30%;
}

.puzzle-grid {
  display: grid;
  margin: 25px;
  grid-template-columns: repeat(9, 1fr);
}

.sidebar {
  margin: 25px;
}

/* || StepList */

@media (prefers-color-scheme: light) {
  .solve {
    background-color: aliceblue;
  }

  .elimination {
    background-color: lavenderblush;
  }

  .old {
    color: lightgray;
  }
}

@media (prefers-color-scheme: dark) {
  .solve {
    background-color: rgb(2, 38, 70);
  }

  .elimination {
    background-color: rgb(85, 3, 20);
  }

  .new {
    color: lightgray;
  }

  .old {
    color: rgb(94, 93, 93);
  }
}

/* || Cell component styles */

input.cell{
  text-align: center;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  caret-color: transparent; /* Hides blinking cursor in cell*/
  border-radius: 0;
}

input:hover.cell {
  cursor: pointer !important;
}

input:focus.cell{
  outline: none;
}

@media (prefers-color-scheme: light) {
  input {
    background-color: white;
    color: black;
  }

  input:disabled {
    color: #1976d2;
  }

  input:focus.cell{
    background-color: lightcyan;
  }
}

@media (prefers-color-scheme: dark) {
  input {
    background-color: #2c2c2c;
    color: white;
  }

  input:disabled {
    color: #cccccc;
  }

  input:focus.cell{
    background-color: #3a4755;
  }
}

/* || Cell borders */

.thick-right {
  border-right: 3px solid black;
}
.thick-left {
  border-left: 3px solid black;
}
.thick-top {
  border-top: 3px solid black;
}
.thick-bottom {
  border-bottom: 3px solid black;
}
.thin-right {
  border-right: 1px solid black;
}
.thin-left {
  border-left: transparent;
}
.thin-top {
  border-top: transparent;
}
.thin-bottom {
  border-bottom: 1px solid black;
}


@media (prefers-color-scheme: light) {
  .error {
    background-color: #fdd;
    color: red;
  }

  .next {
    background-color:lightgoldenrodyellow;
  }

  .related {
    background-color: skyblue;
  }

  .reducer {
    background-color:darkorange;
  }
}


@media (prefers-color-scheme: dark) {
  .error  {
    background-color: rgb(87, 0, 0);
    color: #fdd;
  }

  .next {
    background-color:rgb(92, 75, 32);
  }
}

/* || Candidates */

.candidates {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 0.8rem;
  text-align: center;
}

.candidates:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .candidate {
    color:lightgray;
  }
}

.removed {
  color: red;
  text-decoration: line-through;
}

@media (max-width: 499px) {
  .sudoku-columns {
    grid-template-columns: 100%;
  }

  .puzzle-grid {
    margin: 0;
  }

  .sidebar {
    margin: 16px 0;
  }

  input.cell {
    font-size: 1.5rem;
  }

  .candidates {
    font-size: 0.5rem;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
}
