.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flex-container {
  display: flex;
  align-items: center;
}

.puzzle-grid {
  display: grid;
  margin: 25px;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  min-width: 550px;
}

.puzzle-list-column {
  display: grid;
  grid-template-columns: 70% 30%;
}

input {
  text-align: center;
  font-size: 4vw;
  font-family: Arial, Helvetica, sans-serif;
  caret-color: transparent;
}

input:focus {
  outline: none;
  background-color: lightcyan;
}

.thick-right {
  border-right: 3px solid black;
}

.thick-left {
  border-left: 3px solid black;
}

.thick-top {
  border-top: 3px solid black;
}

.thick-bottom {
  border-bottom: 3px solid black;
}

.thin-right {
  border-right: 1px solid black;
}

.thin-left {
  border-left: transparent;
}

.thin-top {
  border-top: transparent;
}

.thin-bottom {
  border-bottom: 1px solid black;
}

.error  {
  background-color: #fdd;
  color: red;
}

.next {
  background-color:lightgoldenrodyellow;
}

.related {
  background-color: skyblue;
}

.candidates {
  position: absolute;
}

.removed {
  color: red;
  text-decoration: line-through;
}

.reducer {
  background-color:darkorange;
}

.card {
  margin: 25px;
}
