@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&family=Sono:wght@200..800&display=swap');

:root {
  font-family: "Nunito Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: only dark;
  color: #ffffff;
  background-color: #111735;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* || Fonts */

.quicksand-title {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 350; /* 300-700 */
  font-style: normal;
}

.nunito-sans-controls {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 200; /* 200-1000 */
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.sono-number {
  font-family: "Sono", serif;
  font-optical-sizing: auto;
  font-weight: 300; /* 200-800 */
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

/* || General Styles */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#root {
  min-width: 950px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  min-height: 50px;
  top: 0;
  padding: 20px 24px;
  margin: 0 25px;
  font-size: xx-large;
  font-weight: 700;
}

.main {
  flex: 1;
}

footer {
  display: flex;
  min-height: 50px;
  bottom: 0;
  padding: 15px 24px;
  margin: 0 25px;
  font-size: small;
  font-weight: 100;
  align-items: center;
}

/* || Mobile-specific CSS */

@media (max-width: 499px) {
  #root {
    min-width: 350px;
    width: 100%;
  }

  header {
    margin: 0;
  }

  footer {
    margin: 0;
  }
}
